<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{bonsortie.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{bonsortie.add.headline}]]</h1>
                <div>
                    <a th:href="@{/bonsorties}" class="btn btn-secondary">[[#{bonsortie.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('bonsortie')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='bonsortie', field='dateSortie', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='bonsortie', field='recepteur', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='bonsortie', field='emetteur', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='bonsortie', field='observations')}" />
                <div th:replace="~{fragments/forms::inputRow(object='bonsortie', field='listeArticles', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='bonsortie', field='userId', type='select')}" />
                <input type="submit" th:value="#{bonsortie.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
